<h1>Editing catalog datum</h1>

<%= render "form", catalog_datum: @catalog_datum %>

<br>

<div>
  <%= link_to "Show this catalog datum", @catalog_datum %> |
  <%= link_to "Back to catalog data", catalog_data_path %>
</div>
