<p style="color: green"><%= notice %></p>

<h1>Catalog data</h1>

<div id="catalog_data">
  <% @catalog_data.each do |catalog_datum| %>
    <%= render catalog_datum %>
    <p>
      <%= link_to "Show this catalog datum", catalog_datum %>
    </p>
  <% end %>
</div>

<%= link_to "New catalog datum", new_catalog_datum_path %>
