<%= fields model: @data_dictionary do |form| %>
  <%= form.fields_for :data_dictionary_fields, child_index: params[:index] do |field_form| %>
    <%= turbo_frame_tag "field_#{field_form.index}" do %>
      <%= field_form.hidden_field :id, value: params[:id] %>
      <%= field_form.hidden_field :_destroy, value: true %>
    <% end %>
  <% end %>
<% end %>